# Python for (open) Neuroscience

_Lecture 1.1_ - Intro to `pandas`

Luigi Petrucco

Jean-Charles Mariani

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/vigji/python-cimec/blob/main/lectures/Lecture1.2_Intro-pandas.ipynb)

## `numpy` 🧮

A final note on `numpy` boolean indexing & arrays

## Boolean operations with arrays

In [ ]:
import numpy as np

In [ ]:
an_array = np.array([1, 2, 3, 4, 5])

In [ ]:
condition_0 = an_array > 2
condition_1 = an_array < 5

print(condition_0)
print(condition_1)

To compute the and condition element-wise we use `&`:

In [ ]:
condition_0 & condition_1

To compute the or condition element-wise we use `|`:

In [ ]:
condition_0 | condition_1

To compute the not condition (over a single array) element-wise we use `~`:

In [ ]:
~condition_0

Mind the execution order!

In [ ]:
an_array > 0 & an_array < 5

We get the error because the first operation happening is 0 & an_array, which is problematic

In [ ]:
# Correct:
(an_array > 0) & (an_array < 5)

## `pandas`!

Or, the magic of semantic indexing and data aggregation

 - not that magical for R people. But hopefully you'll feel at home

- (also, under a geek definition of "magic"...)

### A problem for arrays

With numpy arrays, we cannot work with "semantic" axes (i.e., we will always have to remember what our axes were)

Also, we always need to work with square arrays (same numbers of values over every axis).

This can be a pain for real world -_i.e._, dishomogenous - data!

Also, numpy does not offer handy ways to aggregate data

## `pandas` 🐼 can help us here

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# get a pandas sample dataset:
def get_meteo_dataset():
    URL = "https://api.open-meteo.com/v1/forecast?latitude=52.52&longitude=13.41&hourly=temperature_2m,relativehumidity_2m,precipitation,windspeed_10m,winddirection_10m&start_date=2023-02-01&end_date=2023-05-28&format=csv"
    return pd.read_csv(URL, skiprows=3)
df = get_meteo_dataset()
df

### `pd.DataFrame` and `pd.Series`

`pd.DataFrame`/`pd.Series` are `pandas` data collection type!
 - `pd.DataFrame` is a 2D data structure
  - `pd.Series` is a 1D data structure

## `pd.DataFrame`

2D data structure with labelled **columns** and indexed **rows**

In [ ]:
df = pd.DataFrame(
    data=[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]],
    columns=["col0", "col1", "col2"],
    index=["row1", "row2", "row3", "row4"],
)

Dataframes are a great way of storing multiple data for the same elements!

## `pd.DataFrame` indexing

Index dataframe over columns:

In [ ]:
df["col0"]

Once we have selected a column, what we get is a `pd.Series`

### `pd.Series`

`pd.Series` are 1-dimensional data structures - basically columns of  `pd.DataFrame`s

`pd.Series` have indexed rows, and a name (the name of the column they come from):

In [ ]:
a_series_from_df = df["col0"]
type(a_series_from_df)

In [ ]:
a_series_from_df.index

In [ ]:
a_series_from_df.name

### Back to indexing dataframes...

We can select multiple columns (with a list of columns):

In [ ]:
df[["col0", "col2"]]

Index data over rows:

We can select rows (with a list / range of rows):

In [ ]:
df.loc["row1":"row3"]

### `.loc`

Index over both rows and columns using `.loc` (not a method! mind the square brackets):

In [ ]:
df.loc["row1", "col0"]

We can select multiple rows and columns (with a list / range of rows and columns):

In [ ]:
df.loc["row1":"row3", "col0":"col2"]

Often, we use boolean indexing to select rows:

In [ ]:
df.loc[df["col2"] > 5]

### `.iloc`

It is very common to use multiple critieria to select rows:

In [ ]:
df.loc[(df["col2"] > 5) & (df["col1"] < 10)]

If we feel like using numpy-like indexing, we can use `.iloc`:

In [ ]:
df.iloc[0, 0]

In [ ]:
pd.Series([1, 2, 3], name="a")

### Create `pd.DataFrames`

Tipically, we create a dataframe from a dictionary of arrays (lists):

In [ ]:
dict_array = dict(int_col=[1, 2, 3], float_col=[4., 5., .6], str_col=["a", "b", "c"])

pd.DataFrame(dict_array)

 or from a list of dictionaries:

In [ ]:
pd.DataFrame([dict(int_col=1, float_col=4., str_col="a"),
              dict(int_col=2, float_col=5., str_col="b"),
              dict(int_col=3, float_col=.6, str_col="c")])

Or, as we saw, from a numpy array:

In [ ]:
pd.DataFrame(np.random.rand(3, 3), columns=["a", "b", "c"], index=["row1", "row2", "row3"])

### `pd.DataFrame`'s methods

`pd.DataFrame`s and `pd.Series` have many, many methods!

(Why those are methods and not functions? There's a reason, we'll get to that...)

It is actually way too many to cover in a single lecture! It is more important to know that they exist, and to know how to find them! (google, stackoverflow, pandas documentation, chatGPT...)

Methods to drop rows/columns:

In [ ]:
dict_array = dict(int_col=[3, 2, 1, 1], float_col=[4., 5., .6, 7.], str_col=["a", "d", "c", "a"])
df = pd.DataFrame(dict_array)
df

In [ ]:
df.drop(columns=["int_col"])  # drop columns

In [ ]:
df.drop(index=[0, 2])  # drop rows

Methods to sort rows/columns:

In [ ]:
df.sort_values(by="int_col") # sort by a column

In [ ]:
df.sort_values(by=["int_col", "float_col"])  # sort by multiple columns

### Methods for statistics

In [ ]:
df = get_meteo_dataset()

df.head()  # show first 5 rows

In [ ]:
df["temperature_2m (°C)"].mean()

In [ ]:
df["temperature_2m (°C)"].median()

In [ ]:
df["temperature_2m (°C)"].std()

In [ ]:
df[["temperature_2m (°C)", "precipitation (mm)", "windspeed_10m (km/h)"]].describe()

### `pd.DataFrame`'s plotting methods

`pd.DataFrame`s and `pd.Series` have many, many plotting methods!

In [ ]:
df.plot()

In [ ]:
df["temperature_2m (°C)"].plot(kind="box")

In [ ]:
df["temperature_2m (°C)"].plot(kind="hist")

In [ ]:
df.plot(kind="scatter", x="temperature_2m (°C)", y="precipitation (mm)")

## Clean data using `pd.DataFrame`s

### Missing data

As in numpy, we represent missing data by `NaN` (not a number).

In [ ]:
df = pd.DataFrame(dict(a=[1, 2, np.nan, 4], b=[0, np.nan, 4, 5]))

To deal with missing data, we can use `pd.DataFrame`'s interpolation methods. By default, it will use linear interpolation:

In [ ]:
df.interpolate()

## Aggregate over columns

It can be useful to aggregate statistics based on the values of a column.
Imagine we have a dataframe with labels on a column and values on another:

In [ ]:
df = pd.DataFrame(dict(labels=["a", "a", "b", "b"], values=[1, 2, 3, 4]))
df

In [ ]:
df.groupby("labels").mean()

## Organize data in a dataframe

At the beginning the lack of hierarchy of a dataframe can be surprising!

But! As long as we assign label columns to our groups, we can perform statistics very easily.

In [ ]:
# Imagine we have 4 experimental subjects; to each one we show a stimulus 3 times; over each repetition we measure 2 variables.

# We could represent the data for each stimulus as a dictionary:
stimulus = dict(variable_1=np.random.rand(), variable_2=np.random.rand())

In [ ]:
# And the data for each subject as a list of dictionaries:
subject_data = [dict(variable_1=np.random.rand(), variable_2=np.random.rand()) for _ in range(3)]

In [ ]:
# And the data for all subjects as a dictionary of lists of dictionaries:
all_subjects = dict()

for i in range(4):
    all_subjects[f"subject_{i}"] = [dict(variable_1=np.random.rand(), variable_2=np.random.rand()) for _ in range(3)]
all_subjects

This is now clean and tidy (?), but being so nested, it is not easy to perform statistics on it.

In [ ]:
# Imagine we want to average the results across all subjects for variable_1:
means = []
for subject_reults in all_subjects.values():
    for result in subject_reults:
        means.append(result["variable_1"])
np.mean(means)

Instead, we can represent the data in a dataframe, **keeping it as flat as possible**:

In [ ]:
#

In [ ]:
group_means = df.groupby("labels").mean()
df - group_means  # subtract the mean for each group

In [ ]:
means