# Nencki Open Lab Python Course
## Basic Python Course

![image.png]()

## Why Python?

**Main features**

*   Extremely popular language
*   The main tool of modern scientific computing
*   Very clear, natural syntax -> easy to learn!
*   Interpreted language -> easy to write, hard to maintain
*   Dynamic typing
*   Rather slow, but can be easily integrated with low-level languages like C/C++ (NumPy, Pandas)
*   Huge active community ->  many libraries and resources

**Java**

```class HelloWorldApp {
    public static void main(String[] args) {
        System.out.println("Hello World!");
    }
}
```

**Python**
```
print("Hello World!")
```

## Data types

Python uses a range of types to represent information within your programs. Within Python, these different types all allow their own specific behaviours and functionalities.
Here, we're going to take you through some of the very simplest types in Python, and give you some understanding of how to work with them in the Python environment.

In [ ]:
# This is a comment
# You can write text that is ignored by the Python interpreter by putting the # symbol at the start of the line
# if you lead the line with # symbols, then you can write anything you like, and it doesn't matter.
######### you can also use any number of these symbols ##### in any order ## and it doesn't matter.

The first basic type we'll be talking about is the `int` type

## First a quick word about variables
In Python, we assign values to variables when we want to remember them, or refer to them elsewhere in our program. We assign variables by using a single = sign. This tells Python that we want it to use a specific name to refer to a particular thing.

*Warning* When you're writing Python code, there are certain words that you must avoid using when you're assigning variables, we'll mention those as we go.

So, let's assign our first variable, the integer 1 to the label mouse_number:

In [ ]:
mouse_number = 1

In [ ]:
mouse_number

1

Now, when we run the code, in the cell (shift+enter), the Python interpreter tells us what the variable `mouse_number` is.

**Note** Your variable names cannot contain spaces and cannot start with a number. Try it now, see what happens.<br>
There are also some characters that you can't use in variable names:
`$` `@` `#` `\` and others.

Welcome to your first error message!

Remember, error messages are all part of the fun, and you'll be seeing plenty more of these. So, what can we learn?

`line 1` - this tells us where the error is (when you start writing more advanced stuff, there will be many many lines!!)

`SyntaxError: invalid syntax` - ok, so this isn't so useful, but it's telling you that the syntax (the order/arrangement of items) doesn't make sense to the Python interpreter - it's not following the rules, so Python refuses to go any further.

When we already assigned the variable we can always change its value

In [ ]:
mouse_number = 5
mouse_number

5

If you re-use variable names, then Python will use whatever you last assigned to that name, so be really cautious with re-use of names.

Now, back to floats and the exciting `type` function!

## Back to `int` land...

An `int` is the short term for an integer, or any whole number.

like, 1 or 2, or 3. Or 123456789

Or 0. And -6 too. You get the idea.

When we have integers, Python can be used as a *really* fancy calculator:

In [ ]:
1 + 1

2

In [ ]:
3 * 5

15

In [ ]:
12 / 6

2.0

In [ ]:
# and we can use brackets, as with any other mathematical process:

((1 + 3) * 6) / 2

12.0

If we want to store the outcome of an operation for later, we can assign it to a variable

In [ ]:
sum_outcome = 4 + 15

The long description of this is telling the Python interpreter to do everything on the right of the = and then assign it to the variable on the left. 

**Note** if you have some experience with R, that Python assignment only goes in one direction, as shown here.

We can also do maths with variables and assign to new variables

In [ ]:
new_var = (sum_outcome + experiment_number) / 2
new_var
1+1

NameError: ignored

### Introducing: your first function!

`type`

Functions are pieces of code that act like tools in a toolbox, if you want to do a specific job, then you use the appropriate function. `type` allows us to find out what kind of thing a variable is. It can be incredibly useful for troubleshooting, to check that the variable you have is what you think it is...

In [ ]:
type(a)

NameError: ignored

This tells us that `a` is an `int` type. And this is the syntax of a function "call".

`function_name(argument)`

An argument is just the term for something you provide to the function to allow it to work. Sometimes it's the thing you want it to work on (in this case, we want the function to tell us what `a` is) and sometimes it's an additional thing for the function to use (more on that later).

The next useful function that we discover here is `print`. This function tells Python to print the value to the current console (it's the cell output below the code block). It can be vital for debugging, because it allows to check what value a particular variable is without disrupting the flow of the program. 

As with `type`, we "call" the function by

`print(thing_i_want_to_print)`

In [ ]:
print(a)
print(experiment_number)

NameError: ignored

## **Big warning**
`type` or `print` are of those special terms that we should be cautious about when assigning variables. If you call a variable `type`, Python will overwrite it with whatever you say, and this function won't work anymore.

In [ ]:
type = 3

## Floats
The next basic type we encounter is the `float`. This is, simply, all numbers with a decimal point.
(Notice that if you don't print, Python will only show you the last thing you did here in the code block below)

In [ ]:
b = 1.1
c = 2345.6
d = -12.58
type(b)

float

And the reason we mention floats here, is because when we divide integers, sometimes we get floats. Here we'll assign the result of such calculation, to a variable

In [ ]:
e = 6 / 4
type(e)

float


So far, we've used integers and floats, and done some basic maths, which should be pretty familiar. At this point, we'll just show you the Python syntax for a couple of other operations:

power (i.e. 2<sup>2</sup> or 10<sup>6</sup>)

In [ ]:
# two * symbols is the operator for a power relationship (there are other methods, which we won't go into detail just yet)
2 ** 2
10 ** 6
# and with powers of 10, we can use the shorthand you're all familiar with from Excel, and other places
1E4

# And again, we can assign to variables

g = 5 ** 3
cell_count = 1.4e5

In [ ]:
print(g)
print(cell_count)

125
140000.0

Also, the modulo operator `%` can be very useful in certain circumstances:

This does something similar to division, but instead of returning a float, returns the remainder, so:

In [ ]:
15 / 3
# gives us 5

5.0

In [ ]:
# however
15 % 2---------------------------------------------------------+
# gives us 1, which is the remainder of 15 / 2
# this is a great tool for identifying if a number is even or odd

1

One of the big strengths of Python (depending on who you ask) is the flexible typing system. Unlike statically typed languages, you can modify the type of something whenever you like, by using the appropriate function (full disclosure, not all of these are functions - a distinction not to worry about right now)

In [ ]:
h = float(4)
i = int(2.0)
i

2

What do you think happens if you do `int(2.5)`?

In [ ]:
print(int(2.7))

2

## "Booleans"

Another of the basic data types is `bool`, named after George Boole, and denotes either `True` or `False`, a "boolean" can only ever hold one of these states.

Booleans are useful if we want to check whether a statement is true or not. For example whether variable `a` equals 1

In [ ]:
3 == 1

SyntaxError: ignored

Or whether it does not

In [ ]:
a != 1

True

It's the opposite comparison, and our boolean is opposite as well!

Which is bigger 4 or 6?

How do we test it?

What about greater than or equal to?

In [ ]:
3 >= 5

False

What happens if you add `True + True`?

What do you think happens if you try to use the `bool` function:

`bool(35)`?
`bool(0)`?
`bool(-1)`?

In [ ]:
True + False
bool(-1)

True

## Strings

Last, but not least, of the basic data types is the string; `str` for short.

A string is any sequence of letters, numbers or punctuation surrounded by quote marks:
`'` or `"`

such as

In [1]:
"andrew"
'Nencki Institute'
"I attended the Python course, it was amazing!!"
""

'And then he asked, "what are you doing?"'
type("andrew")

str

The key thing to remember is that the string is started and finished by a matching quote mark, if you start with a double, then the double ends it:<br>
line 1 `"andrew"<br>
or you can start with a single quote<br>
line 2 'Nencki Institute'

The use of single or double is mostly personal preference, and there are few strict rules.

But Andrew, what if my string contains both? 

For this, we have what's called an "escape character", the backslash `\`

In [2]:
print("And then he asked, \"what's the time\"?")

And then he asked, "what's the time"?

The escape character tells Python to treat whatever immediately follows it as the character, and not to interpret it as a Python syntax element. You'll see these in a number of places, but it can be really useful to understand how they work, especially if you're working in a windows filesystem.

Same as before, we can assign strings to variables

In [3]:
first_name = "Andrew"
last_name = "Want"
# and if we want to print more than one thing at a time, we can separate arguments to `print` with commas (przecinki)
print()
first_name

'Andrew'

Separating arguments to functions with commas is everywhere in Python, anytime you want to provide more than one argument to a function. I'll try to flag it up whenever it happens.

In [4]:
print(first_name, last_name, a, b, c, d, e)

NameError: ignored

So, one thing to remember about strings, if the character in the string looks different, it **is** different.

A is not a

Let's look at comparisons, if we want to see if two things are the same, we use two equals signs:

`"a" == "A"`

In [ ]:
"a" == "A"

And look if it isn't George Boole, telling us that these characters are not the same. 

How about if we suspect they aren't the same?

String variables can be also added together, however the result of such sum will be a bit different from the sum on numerical values

In [ ]:
first_name + ' '+ last_name

It turns out, adding strings together is actually really useful in a whole range of different processes

Except, that's a bit clumsy isn't it?

In [ ]:
# how can you "fix it"?

## If it walks like a duck and it quacks like a duck, then it must be a duck

What would happen if we try to add a `str` to an `int`?

In [ ]:
# Now try adding "1" and 2
str(2) + '1'

'21'

Python applies "duck typing", which means that if you tell Python to add two things together, Python will check whether addition is allowed for those things, and then do it.

### The Python object model



Everything in Python is an object.

OK. So, what does this mean?

In computer programming, an object is just the term used to describe something which has specific properties and information within your program. 

Above, the object `first_name` has data associated with it (the string "Andrew") and the variable name. It also has it's location in the computer memory and a unique ID that the Python interpreter uses to know what it is, and where to find it.

In Python, all the integers are objects, all the strings, all the functions, everything.

And one more crucial thing to remember about objects, is that they often come packaged with their own toolkits. The name for functions that are packaged with an object is `method`. We'll get into this shortly.

In Python we do not specify the type of the variable. Thus to verify whether a particular object can be used for particular purpose Python checks whether this object has certain methods and properties.

On to the next function:

`dir`

This allows us to learn a bit more about our objects. This function will tell us what kinds of things the object can do, and what kinds of data it might contain. Alternatively, `help` can also work well here:

In [ ]:
dir(first_name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
string = "test_filename.xlsx"
print(string.endswith(".xlsx"))

True

In [ ]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Use keyword.iskeyword() to test for reserved identifiers such as "def" and
 |      "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(x, y=None, z=None, /)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

As you might have guessed, `help` is a bit more helpful, but also quite verbose.

In [ ]:
print("and".upper())
and_ = "and"
print(and_.upper())
print(and_.upper())
AND = and_.upper()
print(AND)

AND
AND
AND
AND

### Back to strings...

What do you think the `upper` method might do?

And how about `startswith`?

`replace`?

Some of these methods will be used more than others, but they all have important uses, because you will be dealing with strings all the time (file names, data labels, text mining, etc.)

Experiment with some strings and methods: is there anything strange you notice? Any methods don't do what you think they should?

In [ ]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

## Indexing

Strings are what are described in Python as an `iterable`. That means it is a thing that can be iterated upon. In plain english, it just means that it's a sequence of things (characters in this case). 

Usually, the string itself has meaning, and that meaning comes from the sequence of characters.

The Python syntax for selecting (`indexing`) a specific character in a string is to follow the string with square brackets `[1]` with a number in between indicating the number of the character.

**Warning Python is 0-indexed. This means that all iterables are numbered from 0, not from 1!**

In [ ]:
print(first_name[0])

A

If you want to select a group of consecutive characters, you have to use the `index` of the first character, and the `index` of the one after the last one you want, separated by a colon `:`

so if you want the first 2 characters of `first_name`, you need to select from 0 to (but not including) 2 (i.e. positions 0 and 1). It takes a bit of time to get used to it, and even now, sometimes I have to stop, check myself and count on my fingers.

This is called "slicing"

In [ ]:
print(first_name[0:2])
# if you're starting at 0 is equivalent to:
print(first_name[:2])

An
An

Once you've done some experimenting with indexing, there are two additions:

#### negative indexing

If you use a negative index, then you can start from the back: that last character is -1 (not -0 sadly).

How do you slice off the last two characters?

It's also possible to slice every other element in the sequence, for instance, taking the "A", "d" and "e" out of my `first_name`

In [ ]:
print(first_name[::2])

Ade

Think of this syntax as being:

`string_name[start:stop:step]`

Where step indicates how big a jump you're making. If you leave entries blank, Python works out that you want to start at the start and end at the end.

And finally... another useful function `slice`
which allows us to index multiple strings in the same way, without having to retype the index information over and over (part of the reason we're doing this is to avoid more manual labour, right?)

In [ ]:
first_name = "Andrew"
first_name[-4::-1]

'dnA'

In [ ]:
test_slice = slice(1, 8, 2)
full_name = first_name + last_name
print(full_name[test_slice])

nrwa

Try this exercise - *and remember in many cases there are multiple ways of doing these things, right now what matters is the result*:<br>
Take the string below and count the number of "i" characters, assign the number to a suitable variable name.<br>
Now, count the total number of "i" and "I" characters and compare whether there are more "i" or "I".<br>
What proportion of the total are lower case?<br>
Find the location of the word "Nencki"<br>
Assign the word "Nencki" to a suitable variable name.<br>
Slice out every 4th letter from the string<br>

In [ ]:
test_string = "This is the first incarnation of the Nencki Open Lab Python course, and I am having so much fun!"

Sometimes, when you're dealing with strings, you want to modify the string dynamically - you might want different things in the string, depending on some specific criteria.<br>
For example, you may want to insert mouse identification numbers, or some other feature for labelling a graph.<br>
Python has two syntax elements for this:<br>
`f-strings` from Python 3.6 onwards<br>
`format` string method<br>

These both provide a route to add things to strings during our analyses, through the use of `{}` within the string:

In [ ]:
nencki_label = "Nencki"
string_for_insertion = "I am going to insert a word here: {}"

print(string_for_insertion.format(nencki_label))
print(f"I am going to insert a word here: {nencki_label}")
# notice the f preceding the string quotation marks

# we can insert multiple elements by adding them to the method, separated by commas:
work_statement = "I have worked at {} for {} years"
print(work_statement.format(nencki_label, 3))
# or
print(f"I have worked at {nencki_label} for {3} years")

# We can insert any number of elements easily
target_string = "mouse {}; mouse {}; mouse {}"
print(target_string.format(1, 2, 3))
# or 
print(target_string.format(*"123"))
mice = "mouse: {}; " * 10
print(mice)
print(mice.format(*range(1, 11)))

I am going to insert a word here: Nencki
I am going to insert a word here: Nencki
I have worked at Nencki for 3 years
I have worked at Nencki for 3 years
mouse 1; mouse 2; mouse 3
mouse 1; mouse 2; mouse 3
mouse: {}; mouse: {}; mouse: {}; mouse: {}; mouse: {}; mouse: {}; mouse: {}; mouse: {}; mouse: {}; mouse: {};
mouse: 1; mouse: 2; mouse: 3; mouse: 4; mouse: 5; mouse: 6; mouse: 7; mouse: 8; mouse: 9; mouse: 10;

The last item, using the `*` operator before the string, is an example of "unpacking". It works with any iterable, and tells Python to put each item from the iterable into the curly braces `{}` in sequential order from left to right.
What happens if you try this:<br>
`print(target_string.format(*"1234"))`

We can also modify the appearance of the insertion, according to specific rules, using a `:` symbol, using the [string formatting mini-language](https://docs.python.org/3/library/string.html#formatspec). One of the particular advantages of this is specifying the precision of floats in string reports.

In [ ]:
print("this is a string form of 0.3456789 to 3 decimal places: {:.3f}".format(0.3456789))
# notice the : followed by .3 indicating 3 decimal places, and f indicating that the input is a float.

this is a string form of 0.3456789 to 3 decimal places: 0.346

Of course, strings also have their own function to convert things to string objects: `str`

In [ ]:
aa = 1
bb = str(1)
print(type(aa))
print(type(bb))
print(bb)
# note the quote marks around the output from the final print function, indicating that the output is a string

<class 'int'>
<class 'str'>
1