# Practicals for lecture 1.2

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/vigji/python-cimec/blob/main/practicals/Practicals_1.2.ipynb)

## Introduction to `pandas`

#### 1.2.0 Numpy bool; Create and index dataframes

In [21]:
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd

In [5]:
# Numpy bool operations
# Take the array of integer numbers below. Use array boolean operations to filter out the numbers that 
# are greater than 5 AND less than 8, OR that are multiple of 7.
np.random.seed(42)
an_array = np.random.randint(0, 10, 100)

an_array[((an_array > 5) & (an_array < 8)) | (an_array % 7 == 0)]

array([6, 7, 6, 6, 7, 7, 7, 7, 0, 0, 6, 6, 6, 6, 7, 0, 7, 7, 6, 7, 7, 0,
       6, 7, 0, 7, 7, 0, 7, 0, 6, 6, 7])

In [7]:
string_data = ['cabbage', 'artichoke', 'banana', 'avocado', 'apple', 'orange']
int_data = [1, 2, 3, 4, 5, 6]
float_data = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6]

# Put together the data above in a DataFrame. What happens if you don't specify the index?

df = pd.DataFrame(dict(string_data=string_data, int_data=int_data, float_data=float_data))

In [15]:
# Select the column of the dataframe containing the strings using the name of the column

df["string_data"]

0      cabbage
1    artichoke
2       banana
3      avocado
4        apple
5       orange
Name: string_data, dtype: object

In [10]:
# Select the first two rows of the dataframe
df.loc[:1]

  string_data  int_data  float_data
0     cabbage         1         0.1
1   artichoke         2         0.2

In [16]:
# Select the rows of the dataframe so that the float data is greater than 0.2

df.loc[df["float_data"] > 0.2, "string_data"]

2     banana
3    avocado
4      apple
5     orange
Name: string_data, dtype: object

In [17]:
# Select the rows of the dataframe so that the float data is greater than 0.2 and the int data is less than 5
df.loc[(df["float_data"] > 0.2) & (df["int_data"] < 5)]

  string_data  int_data  float_data
2      banana         3         0.3
3     avocado         4         0.4

In [18]:
# use the .loc property to select the value of the float data in the row with index 3
df.loc[3, "float_data"]

0.4

In [20]:
# Add a new column to the dataframe containing the following data entries:
new_data = [500, 300, 200, 400, 600, 500]

df["new_col"] = new_data
df

  string_data  int_data  float_data  new_col
0     cabbage         1         0.1      500
1   artichoke         2         0.2      300
2      banana         3         0.3      200
3     avocado         4         0.4      400
4       apple         5         0.5      600
5      orange         6         0.6      500

#### 1.2.1 Methods of `pandas` dataframes

In [22]:
# Here we create a fake dataframe containing the results of an psychological test with 30 subjects.
# Subjects can be left-handed or right-handed.
# The test has 2 measures (reaction time - RT, and accuracy)
def create_data_df():
    np.random.seed(42)
    subject_ability = np.random.uniform(0, 1, 30)
    return pd.DataFrame({'subject': [f"subject_{i}" for i in range(30)],
                       'handedness': np.random.choice(['left', 'right'], 30),
                       'RT': subject_ability*100 + np.random.uniform(0, 50, 30),
                       'accuracy': subject_ability + np.random.normal(0.8, 0.1, 30)})
df = create_data_df()

In [29]:
# sort the dataframe by RT:

In [27]:
# Compute the mean and standard deviation of the RT and accuracy across:

RT          69.113435
accuracy     1.252554
dtype: float64

In [28]:
# Use indexing to select the RT of the left-handed subjects, and compute its 90% percentile:

In [ ]:
# Now use the percentile to select the accuracy for left-handed subjects with RT above the 90% percentile:

In [ ]:
# Create a scatter plot of RT vs accuracy for the right-handed subjects:

In [ ]:
# Take the meteo dataset using the function below
def get_meteo_dataset():
    """Get the meteo dataset from the open-meteo API.
    Note how easy it is to get data from the web with pandas! As long as we give the URL of the csv data, pandas can read it.
    """
    np.random.seed(42)
    URL = "https://api.open-meteo.com/v1/forecast?latitude=52.52&longitude=13.41&hourly=temperature_2m,relativehumidity_2m,precipitation,windspeed_10m,winddirection_10m&start_date=2023-02-01&end_date=2023-05-28&format=csv"
    df = pd.read_csv(URL, skiprows=3)  # read the csv file, skipping the first 3 rows (a header)
    df.columns = [col.split(" ")[0] for col in df.columns]  # simplify column names
    df["time"] = pd.to_datetime(df["time"])  # convert the time column to datetime
    df["hour"], df["dayofyear"] = df["time"].dt.hour, df["time"].dt.dayofyear  # extract the hour and day of year
    df["weekdays"] = df["time"].dt.day_name()  # extract the day of the week

    # Here we artificially corrupt some of the data to make it more interesting
    missing_idx = np.random.choice(df.index[:1000], 100)
    df.loc[missing_idx, :] = np.nan
    return df

In [ ]:
# Plot the temperature and relative humidity for the first 1000 time points. Find points where there's missing data (interrupted line).

In [ ]:
# Create a new interpolated temperature column by interpolating the temperature column of the dataframe:

In [ ]:
# Make a new plot with the interpolated temperature and the non-interpolated temperature 
# (plot the interpolated first!)